@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 251, 191, 36;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Custom scrollbar styles */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.scrollbar-thin-horizontal {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

/* Webkit scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin-horizontal::-webkit-scrollbar {
  height: 12px;
}

.scrollbar-thin-horizontal::-webkit-scrollbar-track {
  background: rgb(31, 41, 55); /* primary-800 */
  border-radius: 6px;
}

.scrollbar-thin-horizontal::-webkit-scrollbar-thumb {
  background: rgb(75, 85, 99); /* primary-600 */
  border-radius: 6px;
}

.scrollbar-thin-horizontal::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 114, 128); /* primary-500 */
}

.scrollbar-track-primary-800::-webkit-scrollbar-track {
  background: rgb(31, 41, 55); /* primary-800 */
  border-radius: 3px;
}

.scrollbar-thumb-primary-600::-webkit-scrollbar-thumb {
  background: rgb(75, 85, 99); /* primary-600 */
  border-radius: 3px;
}

.scrollbar-thumb-primary-600::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 114, 128); /* primary-500 */
}
